
.map-container {
  height: 500px;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  height: 100%;
  width: 100%;
}

.container-fluid {
  height: 100vh;
}

.legend {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  color: black; /* Set the desired color for the legend text */
}

.legend i {
  width: 20px;
  height: 50px;
  float: left;
  margin-right: 8px;
}

/* #table {
  padding-left: 20px;
} */

